*.hi
*.o
dist/
dist-newstyle/
cabal.project.local
cabal.project.local~
cabal.project.freeze
cabal.project.freeze~
*.prof
*.aux
*.hp
*.eventlog
*.tix
*.haddock
*.so
*.dyn_o
*.dyn_hi
*.dll
*.dylib
*.jar
*.js
*.hi-boot
*.o-boot
*.hs-boot
*.lhs-boot
*.hsig
*.hsig-boot
*.hie
*.hie-boot

# additional files e.g.: executables
tasks.json
I_part_1
I_part_2
II_part_1
II_part_2